* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

html, body, main {
    width: 100%;
    height: 100%;
}

.main, #display, #additionalMenu {
    border: 4px solid rgb(0, 0, 0);
}

main {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 20px;

    flex: 0 0 20%;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#display {
    padding: 20px;

    height: 60px;

    display: flex;
    align-items: center;
}

#expression {
    display: flex;
    gap: 10px;
}

#numberOne, #numberTwo {
    font-size: 28px;

    border-bottom: 1px solid rgb(0, 0, 0);
}
#operator {
    font-size: 28px;
}

#interactionPanel {
    display: flex;
    gap: 10px;
}

#dial {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.numberButton, .operatorButton, .clearButton, .finalButton, .evenlyButton {
    padding: 20px;

    font-size: 28px;
    
    box-sizing: border-box;
}
.zeroButton {
    width: 100%;

    display: flex;
    gap: 10px;
    justify-content: center;
} 

#finalOperatorPanel {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

#operatorPanel, #clearOperatorPanel {
    padding: 20px;

    border: 2px solid rgb(0, 0, 0);

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.numberButton {
    flex: 0 0 calc((100% - 20px) / 3);
}

.operatorButton {
    flex: 0 0 calc((100% - 10px) / 2);
}

.evenlyButton {
    flex: 1;
}

#clearOperatorPanel { 
    flex-direction: column;
}